.banner {
  position: relative;
  width: 100%;
  height: 400px;
  background: #f2f2f2;
  margin-bottom: 80px;
}

.right {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 5%;
  background: transparent;
}

.right img {
  background: transparent;
}

.left {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  background: transparent;
}

.left img {
  background: transparent;
}

.button {
  background-color:antiquewhite;
  height: 130px;
  width: 300px;
  border-radius: 50px;
  color:black
}

/*----*/

.frame {
  width: 90%;
  margin: 30px auto;
  text-align: center;
}

/*--- InsertSpec.js ---*/

.selectTag {
  width: 30%;
  height: 20%;
}

.selectTagShow {
  width: 25%;
  height: 50px;
  font-size: 20px;
  margin-bottom: 2rem;
  border: none;
}

.formTag {
  margin-top: 1rem;
  margin-left: 2rem;
}

.buttonSubmit {
  background-color:antiquewhite;
  border-radius: 30%;
  color:black;
  position: absolute;
  left: 27%;
  height: 40px;
  width: 100px;
}