.cssTh {
    /*background-color: #f2f2f2;*/
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
}

.cssTd {
    text-align: center;
    border: 1px solid #ddd;
    padding: 8px;
}

.cssTable {
    border-collapse: collapse;
    width: 70%;
    margin: 0 auto;
}

.tableImg {
    width:100px;
    height:60px;
}


.highlighted {
    background-color:#ffffff !important;
}
.highlighted:hover{
    background-color:#151515 !important;
}
.link {
    color: white !important; /* 링크 글자 색을 흰색으로 지정 */
    text-decoration: none !important; /* 밑줄 제거 */
}
/*-------*/

.filter {
    display: flex;
    width: 85%;
    margin: 0 auto;
    justify-content: flex-end;
}

.filter > p:not(:last-child)::after {
    content: "|";
    padding: 10px;
}

.filter p {
    cursor: pointer;
}

/*-------*/
.CircularChart{
    width: 100px;
    height: 100px;
}



