.bigFrame {
    width: 1280px;
    margin: 0 auto;
}

.cssTh {
    /*background-color: #f2f2f2;*/
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
}

.cssTd {
    text-align: center;
    border: 1px solid #ddd;
    padding: 8px;
}

.cssTable {
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
}

.tableImg {
    width:100px;
    height:60px;
    border-radius: 10px;
}

.tableImgGpu {
    width: auto;
    height:30px;
}


.mySpecInfo {
    text-align: center;
    padding: 10px;
    vertical-align: middle;
    /*background-color: #008080 !important;*/
    color: #30D5C8 !important;
    font-size: 1.5rem;
    /*linear-gradient(101.93deg, #3EE4A8 -19.74%, #2997C7 112.85%)*/
}

.mySpecInfoHover:hover {
    /*background-color: #61F3EB !important;*/
    background-color: #008080 !important;
    transform: scale(1.1) !important;
}

.link {
    color: white !important; /* 링크 글자 색을 흰색으로 지정 */
    text-decoration: none !important; /* 밑줄 제거 */
}

.myLink {
    color: #30D5C8 !important; /* 링크 글자 색을 흰색으로 지정 */
    text-decoration: none !important; /* 밑줄 제거 */
}

.move{
    width: 160px;
    height: 40px;
    margin-left: 87%;
    margin-bottom: 1%;
    border-radius: 10px;
    background-color: #151515;
    border: 2px solid #30D5C8;
    font-style: normal;
    font-size: 13px;
    color:#ffffff;
}
/*-------*/

.filter {
    display: flex;
    width: 85%;
    margin: 0 auto;
    justify-content: flex-end;
}

.filter > p:not(:last-child)::after {
    content: "|";
    padding: 10px;
}

.filter p {
    cursor: pointer;
}

/*-------*/
.CircularChart{
    width: 100px;
    height: 100px;
}



