.selectTag {
    width: 30%;
    height: 20%;
}

.selectTagShow {
    width: 50%;
    height: 50px;
    font-size: 20px;
    margin-bottom: 2rem;
    border: none;
}

.formTag {
    margin-top: 1rem;
    margin-left: 2rem;
}

.buttonSubmit {
    background-color:antiquewhite;
    border-radius: 30%;
    color:black;
    position: absolute;
    left: 27%;
    height: 40px;
    width: 100px;
}

/*-------*/

.cssTh {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: center;
    border: 1px solid #ddd;
    padding: 8px;
}

.cssTd {
    text-align: center;
    border: 1px solid #ddd;
    padding: 8px;
}

.cssTable {
    border-collapse: collapse;
    margin: 0 auto;
    width:50%;
}

.redBorder {
    text-align: center;
    border: 1px solid #ddd;
    padding: 8px;
    background: #19ce60;
}

.tableImg {
    width:50px;
    height:30px;
}

/*--------*/

.formCss {
    float: right;
}

.container1 {
    display: flex;
    flex-wrap: wrap;
}

.container2 {
    display: flex;
    flex-wrap: wrap;
}

.itemLabel {
    width: 40%;
    box-sizing: border-box;
    border: 1px solid white;
    padding: 10px;
}

.itemForm {
    width: 60%;
    box-sizing: border-box;
    border: 1px solid white;
    padding: 10px;
}

/*----*/

.progressBarCss {
    width: 80%;
    height: 30px;
}
/*----cpuCompare.js-----*/
.selectContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin-top: 5rem;
}

.formContainer {
    display: flex;
    alignItems: center;
    /*margin-left: 1rem; !* 선택적으로 여백 추가 *!*/
    /*margin-top: 10%;*/

}

.fromStyle {
    width: 100%;
    margin: auto;
}

.selectTagCompare {
    width: 50%;
    height: 10%;
    margin-right: 1rem;
}

.selectSpecLabel {
    width: 100%;
    margin-right: 10%;
    font-size: 1.5rem;
    font-weight: bold;
}

.hrStyle {
    animation-name: fadeIn;
    animation-duration: 4.0s;
    animation-fill-mode: none;
    /*border-color: red;*/
    width: 80%; /* 원하는 너비로 설정 */
    margin: 2rem auto 0 auto; /* 가운데 정렬 */
    border: 1px solid;
}

/*------SubmitSelectedCpu.jsx-------*/
.detailCompareContainer {
    text-align: center;
}

.image {
    width: 180px;
    height : 120px;
    border-radius: 10px 0 0 10px;
}

.infoNameFrame {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 2rem;
}

.infoNameLabel {
    font-size: 1.5rem;
    font-weight: bold;
}

span + span {
    margin-left: 10%;
}

.infoTitleLabel {
    text-align: left;
    margin-left:10%;
    margin-top: 2rem;
    font-size: 2rem;
}

.infoDetailLabel {
    margin-bottom: 1rem;
}

.infoProgressBar {
    margin-bottom: 1.5rem;
    height: 1.5rem;
    /*min-width: 30%;*/
    /*width: 100px;*/
}

.infoProgressBarSpan {
    width: 50%;
    margin-left: 5%;
}

.infoProgressBarFrame {
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*text-align: center;*/
    /*min-height: 50px;*/
    /*min-width: 500px;*/
    /*width: 100%; !* 예시 값 *!*/
    /*margin: 0 auto; !* 가운데 정렬 *!*/
}

.infoProgressBarLabel {
    min-width: 300px;
}


/*------animation------*/

@keyframes fadeIn {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/*gameDetail*/

.pageTitle::before{
    content: "";
    position: absolute;
    top: 90px;
    bottom: 60%;
    opacity: .15;
    background-image: url('../../../../resources/static/images/game-Image.jpg');
    background-repeat: repeat-x;
    background-position: center;
    background-size: auto calc(100%);
    left:0;
    right:0;
}
.pageTitle::after {
    content: "";
    position: absolute;
    top: 90px;
    bottom: 60%;
    left: 0;
    right: 0;
    background-color: #4e54c8!important; /* 배경 색상 설정 */
    z-index: -1; /* 배경 이미지를 뒤로 보내기 위한 z-index 값 */
}

.Title{
    position: absolute;
    width: 80%;
    height: 60px;
    left:10%;
    top: calc(27px + 30%);

    background: #FFFFFF;
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color : #151515;
}
.Title span{
    font-size: 1.3rem;
    font-weight: bold;
    display: inline-block;
}
.gameInfo{
    position: absolute;
    width: 50%;
    left: 10%;
    top: 50%;
    background: #FFFFFF;
    border-radius: 10px 10px 10px 10px;
    padding:1%;
    color:#151515;
}

.gameInfo span{
    font-size: 1.1rem;
    font-weight: bold;

}

.gameImgInfo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.checkImg{
    width:25%;
}

.gameImg{
    width:50%;
}

.topGame{
    margin-bottom:3%;
    width :100%;
    background: #FFFFFF;
    border-radius: 10px 10px 10px 10px;
    padding:1%;
    color:#151515;
}

.topGame span{
    font-weight: bold;
    display: inline-block;
    align-items: center;
    justify-content: center;
}
.gameDetailList{
    position : absolute;
    left:65%;
    top :50%;
    width : 25%;
}


.testGame{
    width :100%;
    background: #FFFFFF;
    border-radius: 10px 10px 10px 10px;
    padding:1%;
    color:#151515;
}


.testGame span{
    font-weight: bold;
    display: inline-block;
    align-items: center;
    justify-content: center;
}
.ul li{
    line-height: 3;
}