div {
  display: block;
}

.total{
  display: flex;
  justify-content: center;
  height: calc(100vh - 90px);
  position: relative;
    
    padding-bottom: 60px;
}
.mySpecTotal {
  width: 1280px;
  margin: 0 auto;
}
/*.banner {*/
/*  position: relative;*/
/*  width: 35%;*/
/*  height: 50%;*/
/*  background: #151515;*/
/*  top: 50%;*/
/*  left: 55%;*/
/*}*/

.left2 {    
    margin-top: 100px;
    float: left;
    width: 640px;
}
.right2 {
  float: right;
    width: 640px;
    margin-top: 100px;

}
.bottom2 {
  height: 50px;
}

.right {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 5%;
  background: transparent;
}

.right img {
  background: transparent;
}

.left {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  background: transparent;
}

.left img {
  background: transparent;
}

/* .button {
  background-color:antiquewhite;
  height: 130px;
  width: 300px;
  border-radius: 50px;
  color:black
} */

/*----*/

.frame {
  width: 90%;
  margin: 30px auto;
  text-align: center;
}

/*--- InsertSpec.js ---*/

.selectTag {
  width: 45%;
  height: 20%;
  background-color: #3c3c3c;
  display: inline-block;
  vertical-align: middle;
  /*margin-right: 30px;*/
  /*margin-bottom: 50px;*/
  color: white;
  /*border: 2px solid white;*/
}

.selectTagShow {
  width: 25%;
  height: 50px;
  font-size: 20px;
  margin-bottom: 2rem;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  color :#FFFFFF;
}

.formTag {
  width: 1280px;
  margin: 0 auto;
  text-align:center;
  margin-top: 5%;
}

.buttonSubmit {
  box-sizing: border-box;
  background: linear-gradient(101.93deg, #3EE4A8 -19.74%, #2997C7 112.85%);
  border: 1px solid #000000;
  border-radius: 149px;

  position: relative;
  width: 200px;
  height: 50px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 140%;
  /* or 28px */

  color: #FFFFFF;

  /* 애니메이션 적용. 2개의 애니메이션 */
  animation-name: slide-up;
  animation-duration: 3.0s;
  animation-fill-mode: backwards;
}
.btnSubmitHover {
  width: 200px;
  height: 50px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  font-family: Helvetica, sans-serif;

  border-radius: 50px;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  box-shadow: 0 1px 5px 0 rgba(49, 196, 190, 0.75);
  background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);

  /* 애니메이션 적용. 2개의 애니메이션 */
  animation-name: slide-up;
  animation-duration: 3.0s;
  animation-fill-mode: backwards;
}

.btnSubmitHoverDisable {
  width: 200px;
  height: 50px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  font-family: Helvetica, sans-serif;

  border-radius: 50px;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  box-shadow: 0 1px 5px 0 rgba(49, 196, 190, 0.75);
  background-image: linear-gradient(to right, #aae1, #2343, #6245, #9867);

  /* 애니메이션 적용. 2개의 애니메이션 */
  animation-name: slide-up;
  animation-duration: 3.0s;
  animation-fill-mode: backwards;
}

.btnSubmitHover:hover {
  background-position: 100% 0;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.btnSubmitHover:focus {
  outline: none;
}


.animationCpu {
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-fill-mode: backwards;
  animation-delay: 1s;
  /*width: 40%;*/
}

.animationGpu {
  animation-name: fadeIn;
  animation-duration: 1.0s;
  animation-fill-mode: backwards;
  animation-delay: 1s;
}

.animationRam {
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-fill-mode: backwards;
  animation-delay: 1s;
}

.animationLabel {
  animation-name: fadeIn;
  animation-duration: 4.0s;
  animation-fill-mode: none;
}

.hrStyle {
  animation-name: fadeIn;
  animation-duration: 4.0s;
  animation-fill-mode: none;
  /*border-color: red;*/
  width: 10%; /* 원하는 너비로 설정 */
  margin: 0 auto; /* 가운데 정렬 */
}

.labelStyle {
  margin-bottom: 10px;
  font-weight: bold;
}

/* Rectangle 1 */
.buttonSpec{
  box-sizing: border-box;

  background: linear-gradient(101.93deg, #3EE4A8 -19.74%, #2997C7 112.85%);
  border: 1px solid #000000;
  border-radius: 149px;


  /* 스펙 불러오기 */

  width: 30%;
  height: 100%;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  /* or 28px */

  color: #FFFFFF;

  /* 애니메이션 적용. 2개의 애니메이션 */
  animation-name: slide-up, bounce;
  animation-duration: 2.0s, 1s;
  animation-fill-mode: both, forwards;
  animation-delay: 0s, 2.0s;
  animation-iteration-count: 1, 2;
}

.btnHover {
  width: 30%;
  height: 100%;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  font-family: Helvetica, sans-serif;

  border-radius: 50px;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  background-image: linear-gradient(101.93deg, #3EE4A8 -19.74%, #2997C7 112.85%);
  box-shadow: 0 1px 5px 0 rgba(49, 196, 190, 0.75);
  background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);

  /* 애니메이션 적용. 2개의 애니메이션 */
  animation-name: slide-up, bounce;
  animation-duration: 2.0s, 1s;
  animation-fill-mode: both, forwards;
  animation-delay: 0s, 2.0s;
  animation-iteration-count: 1, 2;
}

.btnHover:hover {
  background-position: 100% 0;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btnHover:focus {
  outline: none;
}


.buttonInsert{
/* Rectangle 2 */

  box-sizing: border-box;

  border: 2px solid #30D5C8;
  border-radius: 149px;


  /* 스펙 입력하기 */

  width: 30%;
  height: 100%;
  margin-left : 30%;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  /* or 31px */

  background: linear-gradient(101.93deg, #3EE4A8 -19.74%, #2997C7 112.85%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation-name: slide-up;
  animation-duration: 3.0s;
  animation-fill-mode: backwards;
}

.btnInsertHover {
  width: 30%;
  height: 100%;
  margin-left : 30%;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  text-align:center;
  border: 2px solid #30D5C8;
  background-size: 300% 100%;
  font-family: Helvetica, sans-serif;

  border-radius: 50px;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  box-shadow: 0 1px 5px 0 rgba(49, 196, 190, 0.75);
  background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation-name: slide-up;
  animation-duration: 2.0s;
  animation-fill-mode: backwards;
}

.btnInsertHover:hover {
  background-position: 100% 0;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btnInsertHover:focus {
  outline: none;
}

.title{
  height: 400px;

  font-family: 'Roboto';
  font-style: normal;
}

.main{
  background: linear-gradient(101.93deg, #3EE4A8 -19.74%, #2997C7 112.85%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: both;
  font-size: 3em;
  height: auto;
}
.sub{
  font-size: 2em;
  height: auto;
  color : white;
  animation-name: fadeIn;
  animation-duration: 2.0s;
  animation-fill-mode: both;
}

.trd {
  height: auto;
  font-size: 1em;
  color : gray;
  animation-name: fadeIn;
  animation-duration: 2.5s;
  animation-fill-mode: both;
}

.banner {
  width: 110%;
  background: #151515;
  animation-name: slide-in;
  animation-duration: 3.0s;
  animation-fill-mode: both;
}

/*--- ShowMySpec.js ---*/

.button{
  box-sizing: border-box;

  background-color: #151515;
  border: 2px solid #30D5C8;
  border-radius: 149px;


  background: linear-gradient(101.93deg, #3EE4A8 -19.74%, #2997C7 112.85%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  width: 200px;
  height: 60px;


  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 140%;
  /* or 28px */

  /*color: #FFFFFF;*/

  margin-top: 50px;
  margin-left: 1%;
}
.buttonHover {
  margin-top: 100px;
  margin-left: 1%;
  width: 200px;
  height: 60px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  text-align:center;
  border: 2px solid #30D5C8;
  background-size: 300% 100%;
  font-family: Helvetica, sans-serif;

  border-radius: 50px;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  box-shadow: 0 1px 5px 0 rgba(49, 196, 190, 0.75);
  background-image: linear-gradient(101.93deg, #3EE4A8 -19.74%, #2997C7 112.85%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.buttonHover:hover {
  background-position: 100% 0;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.buttonHover:focus {
  outline: none;
}

.link{
  box-sizing: border-box;

  background: linear-gradient(101.93deg, #3EE4A8 -19.74%, #2997C7 112.85%);
  border: 1px solid #000000;
  border-radius: 149px;
  margin-top: 100px;

  position: absolute;
  width: 200px;
  height: 60px;

  margin-left: 100px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 140%;
  /* or 28px */

  color: #FFFFFF;
}
.linkHover {
  position: absolute;
  width: 200px;
  height: 60px;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  margin-left: 120px;
  margin-top: 100px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  font-family: Helvetica, sans-serif;

  border-radius: 50px;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  background-image: linear-gradient(101.93deg, #3EE4A8 -19.74%, #2997C7 112.85%);
  box-shadow: 0 1px 5px 0 rgba(49, 196, 190, 0.75);
}
.linkHover:hover {
  background-position: 100% 0;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.linkHover:focus {
  outline: none;
}


/*-----animation Css------*/
.arrow {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid white;
  position: absolute;
  left:5%;
  animation: arrow 1s infinite alternate;
}

@keyframes arrow {
  0% {
    top: 80%;
  }
  100% {
    top: 90%;
  }
}

.loading{
  background: #151515;
}
.waring{
  margin-top : 5%;
}
.showMySpec{
  display: flex;
  margin-top : 20px;
}
@keyframes fadeIn {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(150px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

/*.title p {*/
/*  animation-name: fadeIn;*/
/*  animation-duration: 1s;*/
/*  animation-fill-mode: both;*/
/*}*/

/*.fade-in {*/
/*  animation-name: fadeIn;*/
/*  animation-duration: 1s;*/
/*  animation-fill-mode: both;*/
/*}*/

