.cssTh {
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    padding: 5px;
}

.cssTd {
    text-align: center;
    border: 1px solid #ddd;
    padding: 8px;
}

.cssTable {
    border-collapse: collapse;
    margin: 0 auto;
    width: 70%;
    /*animation-name: slide-in;*/
    /*animation-duration: 3.0s;*/
    /*animation-fill-mode: both;*/
    animation: 1.5s ease-in-out fadeIn;
}

td {
    text-align: center;
    padding: 10px;
    vertical-align: middle;
}

th {
    text-align: center;
    padding: 10px;
    vertical-align: middle;
    font-weight: bold;
}

.tableImg {
    width:100px;
    height:60px;
}

/*tr[data-cpu-name1="selectedInfo"]::before {*/
/*    content: "✨";*/
/*    margin-right: 10px;*/
/*}*/

.mySpecInfo {
    text-align: center;
    padding: 10px;
    vertical-align: middle;
    /*background-color: #008080 !important;*/
    color: #25cff2 !important;
    font-size: 1.5rem;
/*linear-gradient(101.93deg, #3EE4A8 -19.74%, #2997C7 112.85%)*/
}

.mySpecInfoHover:hover {
    /*background-color: #61F3EB !important;*/
    background-color: #008080 !important;
    transform: scale(1.1) !important;
}

/*----pointerEvents: 'none' ---*/

.filter {
    display: flex;
    width: 85%;
    margin: 0 auto;
    justify-content: flex-end;
}

.filter > p:not(:last-child)::after {
    content: "|";
    padding: 10px;
}

.filter p {
    cursor: pointer;
}

/*-------*/
.Chart{
    display: flex;
}
.CircularChart{
    width: 100px;
    height: 100px;
}

/*---ShowInsertInfo.js----*/
/*.specCss {*/
/*    margin-left: 50px;*/
/*    margin-top: 50px;*/
/*    display : flex;*/
/*    align-Items: center;*/
/*    background-color: white;*/
/*    border: 2px solid #ccc;*/
/*    border-radius: 10px;*/
/*    width: 30%;*/
/*}*/

.specCss {
    width: 40rem;
    border: 3px solid #30D5C8;
    border-radius: 10px;
}

.image {
    width: 180px;
    height : 120px;
    border-radius: 10px 0 0 10px;
}

/*.specInfoCss {*/
/*    background-color: white;*/
/*    color: black;*/
/*    margin-left: 50px;*/
/*    border-left: 2px solid #ccc;*/
/*    padding: 10px;*/
/*}*/
.specInfoCss {
    color: black;
}


/*.divParent {*/
/*    display: flex;*/
/*    justifyContent: center;*/
/*    alignItems: center;*/
/*    !*margin: 0 auto;*!*/

/*    !*max-width: 50%; !* 적절한 값으로 설정해주세요 *!*!*/
/*    !*margin: 5% auto 0 auto;*!*/
/*    position: absolute;*/
/*    left: 55%;*/
/*    top: 50%;*/
/*    transform: translate(-50%, -50%);*/
/*    !*max-width: 50%;*!*/
/*    margin: 5% auto 0 auto;*/

/*    !*background-color: white;*!*/
/*}*/

/*.divChild {*/
/*    text-align: center;*/
/*    margin-right: 200px;*/
/*}*/

.divParent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.divChild {
    text-align: center;
    width : 13%;
    margin: 2% 5% 0 1%;
}

.divChild:last-child {
    margin-right: 0;
}

/*------ShowInsertInfo.jsx-------*/

.urlLabel {
    /* 더 알아보기 > */

    /*position: absolute;*/
    /*width: 161px;*/
    /*height: 32px;*/
    /*left: 470px;*/
    /*top: 557px;*/

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;

    color: #0046CF;
}

.linkUrl {
    text-decoration: none;
}

.link {
    color: white !important; /* 링크 글자 색을 흰색으로 지정 */
    text-decoration: none !important; /* 밑줄 제거 */
}

.myLink {
    color: #25cff2 !important; /* 링크 글자 색을 흰색으로 지정 */
    text-decoration: none !important; /* 밑줄 제거 */
}

.hrStyle {
    /*animation-name: fadeIn;*/
    /*animation-duration: 4.0s;*/
    /*animation-fill-mode: none;*/

    width: 100%; /* 원하는 너비로 설정 */
    margin: 0 auto 1rem auto; /* 가운데 정렬 */
}

.selectSpecCss {
    background-color:white;
    min-height:100vh;
}

.infoSpecTitle {
    font-size: 1.1rem;
    margin-bottom: 1.2rem;
    height: 2em;
    font-weight: bold;
}

.infoSpecSubTitle {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.infoSpecSub {
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

/*--animation---*/

@keyframes fadeIn {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}