.cssTh {
    /*background-color: #f2f2f2;*/
    font-weight: bold;
    text-align: center;
    border: 1px solid #ddd;
    padding: 8px;
}

.cssTd {
    text-align: center;
    border: 1px solid #ddd;
    padding: 8px;
}

.cssTable {
    border-collapse: collapse;
    margin: 0 auto;
}

.tableImg {
    width:50px;
    height:30px;
}

/*-------*/

.filter {
    display: flex;
    width: 85%;
    margin: 0 auto;
    justify-content: flex-end;
}

.filter > p:not(:last-child)::after {
    content: "|";
    padding: 10px;
}

.filter p {
    cursor: pointer;
}

/*-------*/
.Chart{
    display: flex;
}
.CircularChart{
    width: 100px;
    height: 100px;
}

/*---ShowInsertInfo.js----*/
/*.specCss {*/
/*    margin-left: 50px;*/
/*    margin-top: 50px;*/
/*    display : flex;*/
/*    align-Items: center;*/
/*    background-color: white;*/
/*    border: 2px solid #ccc;*/
/*    border-radius: 10px;*/
/*    width: 30%;*/
/*}*/

.specCss {
    width: 40rem;
    border: 3px solid #30D5C8;
    border-radius: 10px;
}

.image {
    width: 300px;
    height: 200px;
    border-radius: 10px 0 0 10px;
}

/*.specInfoCss {*/
/*    background-color: white;*/
/*    color: black;*/
/*    margin-left: 50px;*/
/*    border-left: 2px solid #ccc;*/
/*    padding: 10px;*/
/*}*/
.specInfoCss {
    color: black;
}


.divParent {
    display: flex;
    justifyContent: center;
    alignItems: center;
    /*margin: 0 auto;*/

    max-width: 50%; /* 적절한 값으로 설정해주세요 */
    margin: 5% auto 0 auto;
    /*background-color: white;*/
}

.divChild {
    text-align: center;
    margin-right: 200px;
}

/*------ShowInsertInfo.jsx-------*/

.urlLabel {
    /* 더 알아보기 > */

    /*position: absolute;*/
    /*width: 161px;*/
    /*height: 32px;*/
    /*left: 470px;*/
    /*top: 557px;*/

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;

    color: #0046CF;
}

.linkUrl {
    text-decoration: none;
}

.hrStyle {
    /*animation-name: fadeIn;*/
    /*animation-duration: 4.0s;*/
    /*animation-fill-mode: none;*/

    width: 100%; /* 원하는 너비로 설정 */
    margin: 0 auto 1rem auto; /* 가운데 정렬 */
}

.selectSpecCss {
    background-color:white;
    min-height:100vh;
}

.infoSpecTitle {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    height: 2em;
}

.infoSpecSubTitle {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.infoSpecSub {
    font-size: 1rem;
    margin-bottom: 1rem;
}